.container {
  display: flex;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  position: relative;
  height: calc(100vh - 200px);
}

.textContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.img {
  object-fit: cover;
}

.title {
  font-size: 64px;
}

.details {
  display: flex;
  gap: 10px;
}

.detailsText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailsTitle {
  font-weight: bold;
  color: gray;
}

.detailsValue {
  font-weight: 500;
}

.detailsContent {
  font-size: 20px;
}

@media screen and (max-width:768px) {
  .imgContainer {
    display: none;
  }
}